body {
  background-color: #EEE;
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,"Trebuchet MS";
}

.ld-header {
  background-color: #2196F3;
  color: #FFF;
  padding: 15px 0;
}

.ld-header a {
  color: #FFF;
}

.ld-header-title {
  font-size: 24px;
}

.ld-header-name {
  display: inline-block;
  padding: 0 5px;
}

.ld-header-right {
  top: 10px;
  right: 20px;
  position: absolute;
}

.ld-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ld-panel {
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
}

.ld-panel-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.ld-table td {
  width: 75px;
}
