body {
  background-color: #EEE;
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,"Trebuchet MS";
}

.ld-header {
  background-color: #2196F3;
  color: #FFF;
  padding: 15px 0;
}

.ld-header a {
  color: #FFF;
  text-decoration: none;
}

.ld-header-title {
  font-size: 24px;
}

.ld-header-name {
  display: inline-block;
  padding: 0 5px;
}

.ld-header-right {
  top: 10px;
  right: 35px;
  position: absolute;
}

.ld-container {
  padding-left: 35px;
  padding-right: 35px;
  margin-right: auto;
  margin-left: auto;
}

.ld-panel {
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
}

.ld-panel-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.ld-table {
  width: 100%;
  max-width: 100%;
}

.ld-table thead tr th {
  padding: 8px;
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.ld-table td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.ld-button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.ld-button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.ld-match-new select {
  margin: 0 5px;
}

.ld-player-detail-info {
  list-style: none;
}

.ld-player-detail-info label {
  margin-right: 5px;
  font-weight: bold;
}

.ld-login-page {
  background-color: #2196F3;
  width: 100%;
  height: 1000px;
}

.ld-login-page-title {
  font-size: 40px;
  text-align: center;
  color: #FFF;
  padding-top: 100px;
}

.ld-login-page-title2 {
  font-size: 22px;
  text-align: center;
  color: #FFF;
}

.ld-login-page-button-wrapper {
  text-align: center;
  margin-top: 100px;
}

.ld-login-page-button {
  border: 1px solid #FFF;
  background-color: #FFF;
  padding: 20px;
  margin: 20px;
}

.ld-step {
  padding-top: 100px;
  width: 500px;
  margin: 0 auto;
}

.ld-step-image {
  float: left;
}

.ld-step-banner {
  float: left;
}
