.ld-mana-black {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/mana-black.png);
  background-size: 20px;
}
.ld-mana-blue {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/mana-blue.png);
  background-size: 20px;
}
.ld-mana-green {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/mana-green.png);
  background-size: 20px;
}
.ld-mana-red {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/mana-red.png);
  background-size: 20px;
}
.ld-mana-white {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../img/mana-white.png);
  background-size: 20px;
}
